<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- /BOOTSTRAP -->

    <link rel="stylesheet" type="text/css" href="stylesheets/eventList.css" />
</head>

<body>

<!-- NAVBAR -->
<%- include('_navbar', {isAdmin: isAdmin, isSuperAdmin: isSuperAdmin}); -%>

<!-- BEGIN BOOTSTRAP CONTAINER -->
<div id="eventBody" class="container.fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container">

                  <select id="school" class="form-control" onchange="getOption()" > 
                    <option disabled selected>Select Location</option>
                    <option>All</option>
                    <%var loc = [] %>
                    <%for (var i in events){%>
                    <%if (loc.includes(events[i].schoolName) === false){%>
                        <option><%= events[i].schoolName %></option>
                        <%= loc.push(events[i].schoolName) %>
                    <%}%>
                    <%}%> 
                  </select>

                </br>
                
                
                <!-- BEGIN ACCORDION -->
                <div id="accordion">

                    <!-- BEGIN CARD ITERATION -->
                    <%for (var event in events){%>
                    <% console.log(event); %>
                    <div class="card">
                        <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#event<%- events[event].Event_Id %>">
                            <%= events[event].eventName %>
                        </a>
                        </div>
                        <div id="event<%- events[event].Event_Id %>" class="panel-collapse collapse" data-parent="#accordion">
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">University: <%= events[event].schoolName %></li>
                            <li class="list-group-item">Event Category: <%= events[event].eventCategory %></li>
                            <li class="list-group-item">Description: <%= events[event].description %></li>
                            <li class="list-group-item">Time: <%= events[event].dateTime %></li>
                            <li class="list-group-item">Date: <%= events[event].dateTime %></li>
                            <li class="list-group-item">Location: <%= events[event].location %></li>
                            <li class="list-group-item">Contact Phone: <%= events[event].contactPhone %></li>
                            <li class="list-group-item">Contact Email: <%= events[event].contactEmail %></li>
                            <li class="list-group-item card text-right">
                                <div id="partial" style="display:none"><%- include ./_comments.ejs %></div>
                                <button type="button" class="btn btn-primary" id="load-partial" 
                                    data-toggle="modal" data-target="#commentModal">Comments</button>
                                
                            </li>
                            </ul>
                        </div>
                    </div>
                    <%}%>
                    <!-- END CARD ITERATION -->

                </div>
                <!-- END ACCORDION -->

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!-- END BOOTSTRAP CONTAINER -->

<script>

$('#load-partial').click(function(){
    $('#partial').show();
});

/* bs function for now */
function getOption() {
    var e = document.getElementById("school");
    var selectLoc = e.options[e.selectedIndex].text;

    /*var option = document.getElementById('school').value;
            selectElement = document.querySelector('#school'); 
                      
            output =  
              selectElement.options[selectElement.selectedIndex].value; 
  
            document.querySelector('.output').textContent = output; */ 
        } 
</script>

</body>
</html>
