<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- /BOOTSTRAP -->

    <link rel="stylesheet" type="text/css" href="stylesheets/eventList.css" />
</head>

<body>

<!-- NAVBAR -->
<% include ./_navbar.ejs %>

<!-- BEGIN BOOTSTRAP CONTAINER -->
<div id="eventBody" class="container.fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="container">
                  <select class="form-control" > 
                    <option disabled selected>Select Location</option>
                    <option>All</option>
                    <%for (var i in events) {%>
                    <option><%= events[i].School_Name %></option>
                    <%}%> 
                  </select>
                <!-- BEGIN ACCORDION -->
                <div id="accordion">

                    <!-- BEGIN CARD ITERATION -->
                    <%for (var event in events){%>
                    <% console.log(event); %>
                    <div class="card">
                        <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#event<%- events[event].Event_Id %>">
                            <%= events[event].eventName %>
                        </a>
                        </div>
                        <div id="event<%- events[event].Event_Id %>" class="panel-collapse collapse" data-parent="#accordion">
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">University: <%= events[event].schoolName %></li>
                            <li class="list-group-item">Event Category: <%= events[event].eventCategory %></li>
                            <li class="list-group-item">Description: <%= events[event].description %></li>
                            <li class="list-group-item">Time: <%= events[event].dateTime %></li>
                            <li class="list-group-item">Date: <%= events[event].dateTime %></li>
                            <li class="list-group-item">Location: <%= events[event].location %></li>
                            <li class="list-group-item">Contact Phone: <%= events[event].contactPhone %></li>
                            <li class="list-group-item">Contact Email: <%= events[event].contactEmail %></li>
                            </ul>
                        </div>
                    </div>
                    <%}%>
                    <!-- END CARD ITERATION -->

                </div>
                <!-- END ACCORDION -->

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!-- END BOOTSTRAP CONTAINER -->


</body>
</html>
